
    
    /* Hero Video + Fallback */
    
    
    #hero-vid {
      backface-visibility:hidden;
      background:url("http://www.markhillard.com/sandbox/media/polina.jpg") no-repeat scroll 0 0 #000;
      background-size:cover;
      bottom:0;
      height:auto;
      min-height:100%;
      min-width:100%;
      perspective:1000;
      position:fixed;
      right:0;
      width:auto;
      z-index:-2;
    }

    
    
    #hero-pic {
      display:block;
      height:auto;
      width:100%;
    }

    header {
      height: 100vh;
      display: flex;
      align-items: center;
    }

    

    .header-content {
      display: grid;
      /*height: inherit; */
      grid-template-columns: 1fr 200px 1fr;
      /*align-items: center;*/
      width: 100%;
      margin-top: -20%;
      z-index: -1;
    }
    

    #svg-logo{
      overflow:visible;
      width: 100%;
    }

    #header-logo{
      overflow: visible;
      width: 100%;
    }

    #logo-wrapper {
    }
    
    #header-list{
      color: rgba(255, 255, 255, 0.363);
      /*text-align: right;*/
      display:inline;
    }

    ul#header-list-id li {
      display: inline;
      z-index: 99;
    }
    
    #contactpaddingfloat {
      float: right;
      padding-right: 48px;
    }
    
    #header-list-id{
      font-size: 12pt;
      display: inline;
    }

    #pseudo{

    }
    