html,
body {
  background-color: black;
}

.header__logo--center {
  display: grid;
  justify-content: center;
}

.btn-right {
  z-index: 1030;
  pointer-events: auto;
}

.mabo-footer {
  pointer-events: none;
}

.video-btn {
  opacity: 1;
}

.fa {
  font-family: "FontAwesome" !important;
}
