
.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}

.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.video-btn{
  cursor: pointer;
}

.modal-backdrop.show {
opacity: 0.92;
}

.modal-open {
  padding-right: 0px !important;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 2s ease-out;
  transition: transform 2s ease-out;
  transition: transform 2s ease-out, -webkit-transform 2s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
  padding-top: 20vh;
}
